# Database
DATABASE_URL=file:./db/custom.db

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# ERPNext (optional)
ERP_NEXT_URL=http://localhost:8000
ERP_NEXT_API_KEY=
ERP_NEXT_API_SECRET=

# Map Provider (google | mapbox | osm | here)
MAP_PROVIDER=osm
MAPBOX_API_KEY=
GOOGLE_MAPS_API_KEY=
HERE_MAPS_API_KEY=
